@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*global*/

*,
*::before,
*::after { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html { 
   
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
    
}

body {
    overflow-x:hidden;
    font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section { 
    padding: 3.9rem 0;
    overflow: hidden;
}

img { 
    width: 100%;
    max-width: 100%;
}

a { 
    text-decoration: none;
}

p { 
    font-size: 1.6rem;
}

.container { 
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/*header*/


.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
         rgba(0,0,0,0.7)),
         url(culturam.jpg);            /*fondo menu*/
         background-position: center bottom;
         background-repeat: no-repeat;
         background-size: cover;
           width: 100vw;   /* 100% del ancho de pantalla */
  height: 100vh;  /* 100% de la altura visible */
         min-height: 70vh;
         display: flex;
         align-items: center;
} 

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul  li{
    position: relative;
    float: left;
}

.menu .navbar ul  li a{
    font-size: 18px;
    padding: 20px;
    color:#FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul  li a:hover{
    color:#efd588;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
   display: inline-block;
    padding: 11px 35px;
    background-color: #efd588;
    color:#F9FAFC;
    text-transform: uppercase;
    border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-1:hover{
    background-color: #ab9566;
     transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);

}

/*hero*/

.hero {
    width: 100%;
    height: 70vh;
    background: url("separacion.jpg")center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.h2-sub {
    font-size: 3rem;
     font-family: "Montserrat", sans-serif;
     color: #492e20;
     font-weight: 600;
     line-height: .4;
}

.fil {
    text-transform: uppercase;
    font-size: 3rem;
}

.head {
    color:#fff;
    font-size:3.7rem;
     font-family: "Montserrat", sans-serif;
     text-transform: uppercase;
     font-weight: 900;
     letter-spacing: .5rem;
}

.circle {
    font-size: 1.5rem;
    color:#efd588;
    margin: 0 1.6rem;
}

.he-des h5 {
    color:#fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}



.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    
}

.cta-btn {
    font-size: 1.1rem;
    background-color: #efd588;
    padding: 1.5rem 3rem;
    color:#fff;
    border-radius: .4rem;

    text-transform: uppercase;
    border: none; 
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta-btn:hover,
.cta-btn:focus{
    color:#fff;
    background-color: #ab9566;
     transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.global {
    text-align: center;
    margin-top: 3.9rem;
    
}

.dis-sto .global {
    margin-top: 6.9rem;
}

.global .circle {
    color:#efd588;
    margin: 2.4rem 0;
}

.hea-dark {
    color:#252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.global .h2-sub {
    letter-spacing: -1px;
    line-height: .42;
}

.res-info {
    text-align: center;
}

.res-des {
    margin-bottom: 3rem;
}

.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

/*menu*/

ul.lista-estilizada {
  list-style-type: square;        /* Viñetas cuadradas */
  list-style-position: outside;   /* Viñetas fuera del contenido */
  padding-left: 20px;             /* Espacio para que se vean las viñetas */
}
 


ul.lista-estilizada li {
  display: list-item;
  margin-bottom: 8px;
}

.lista-estilizada li:hover {
  background-color: #efd588;
}



.seccion-contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.texto {
  flex: 1;
  min-width: 300px;
  max-width: 45%;
   font-family: "Montserrat", sans-serif;
  font-size: 16px;
   padding: 20px;
  box-sizing: border-box;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  flex: 1;
  min-width: 300px;
  max-width: 45%;
  
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
     
}
 
.seccion-objetivos {
  background-color: #f4f4f9;
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.seccion-objetivos h2 {
     font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.objetivo {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 5px solid #efd588;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.objetivo h3 {
     font-family: "Montserrat", sans-serif;
  font-size: 16px;
  
  color: #333;
  margin-bottom: 10px;
}

.objetivo p {
     font-family: "Montserrat", sans-serif;
  font-size: 16px;
  
  color: #666;
  line-height: 1.6;
}

.apartado-texto {
      background-color: #ffffff;
      padding: 40px;
      margin: 20px auto;
      max-width: 800px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: justify;
      color: #333333;
      line-height: 1.6;
    }
    .apartado-texto h2 {
      margin-top: 0;
      font-size: 2rem;
      color: #222222;
      text-transform: uppercase;
    }



.taste {
     position: relative;
  background: url("division.jpg") center/cover no-repeat;
  width: 100%;
  height: 400px; /* ajusta según el alto deseado */
  overflow: hidden;
   display: flex;
}
/* Crea el degradado semitransparente sobre la imagen */
.taste::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(49, 46, 46, 0.6),
    rgba(255,255,255,0.6)
  );
  pointer-events: none;
}

/* Opcional: permite ajustar opacidad del fondo sin afectar overlay */
.taste::after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4; /* controla lo "tenue" de la imagen */
  z-index: -1;
}

.bt {
    min-height: 65vh; 
    display: flex;
    align-items: center;
}
/*seccion vertical*/
 .seccion {
      display: flex;
      align-items: center;       /* Centra verticalmente el contenido */
      gap: 80px;                 /* Espacio entre la imagen y el texto */ 
      padding: 80px;
      max-width: 800px;
      margin: 0 auto;
       
    }
    .seccion img {
      max-width: 200px;
      width: 100%;
      height: auto;
      flex-shrink: 0;            /* Evita que la imagen se reduzca al reenajustar */
      border-radius: 8px;
    }
    .seccion .texto {
      flex: 1;                   /* Permite que el texto ocupe el espacio restante */
    }

 .info-vertical {
   
      display: flex;
      flex-direction: column;
      align-items: center; /* Centrado horizontal */
      max-width: 600px;
      margin: 40px auto;
      gap: 20px; /* Espacio entre bloques */
      text-align: justify;
    }

    .item {
      width: 100%;
      background-color: #efd588;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .item h3 {
      margin: 0 0 10px;
      font-size: 1.3em;
    }

    .item p {
      margin: 0;
      color: #555;
    }
/*seccion vertical*/

/*platillo*/

 /* Galería de Imágenes con efecto Ken Burns */
    .images-gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .images-gallery figure {
      flex: 1 1 calc(33% - 10px);
      overflow: hidden;
      position: relative;
      margin: 0;
      border-radius: 6px;
    }
    .images-gallery img {
      width: 100%;
      height: auto;
      transition: transform 1.2s ease-in;
    }
    .images-gallery figure:hover img {
      transform: scale(1.3) translate(-8%, -3%);
    }
    .images-gallery figcaption {
      text-align: center;
      margin-top: 8px;
      font-size: 0.9em;
      color: #555;
    }
    /* Galería de Imágenes con efecto Ken Burns */ 
.disco .res-des {
    padding-top: 3rem;
    margin-bottom: 0;
}

.pb {
    background: url("mx.jpg") center no-repeat;
    background-size: cover;
}

/*footer*/

footer {
    padding: 7.9rem 0;
    background-color: #121212;       /*fondo footer*/
    background-image: url(fondolorem.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    position: relative;
}

.footer-content {
    overflow: hidden;
}

.footer-content h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .circle {
    margin: 2.4rem 0;
}

.footer-content-about {
    margin-bottom: 5.4rem;
}

.footer-content-about p {
    line-height: 2;
}

.social-icons {
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
   
}

.social-icons i {
   
    color: #efd588;
   
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.2rem;
    text-align: center;
    border-radius: 50%;
    border: .2rem solid #ffc246;
    font-size: 2rem;
    margin: 0 .1rem;
    transition: .2s linear;

}

.social-icons i:hover,
.social-icons i:focus {
   
     color: #fff;
    background: #ffc246;
    border-color: #ffc246;
}


.news-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.news-input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}

.news-btn {
    background: transparent;
    border: none;
    color:#252525;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top:30%;
    margin-left: 20.5rem;
}

.footer-credit {
  margin-left: auto;     /* empuja este bloque al extremo derecho si usas flex */
  font-size: 0.9rem;
  color: #888;
 
}

.footer-credit small {
  font-size: inherit;
  font-weight: normal;
 
}
/*CONTACTO*/
.info-list {

  list-style: none;
  margin: 0;
  padding: 0;
}

.info-list li {
  
  align-items: center;
  margin-bottom: 0.75rem;
}

.info-list i {
  font-size: 1rem;
  color: #efd588;
  margin-right: 0.5rem;
}

.info-list a,
.info-list span {
   
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.info-list a:hover {
    color: #efd588;
  
}
/*CONTACTO*/


@media (max-width: 600px) {

  .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
}
    .menu .navbar {
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: #000000;              /* color fondo menu desplegable*/
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .menu-container img {
        width: 80px; 
         height: 80px;
    }
    /* fondo del menu TAMAÑO*/
    .header {
        min-height: 50vh;     /* tamaño para ver en celular*/
        background-position: center center;
    background-size: cover;  /* evita recortes, muestra toda la imagen */         
     }
/* fondo del menu TAMAÑO*/
    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

     .header-content h1 {
        font-size: clamp(4rem, 6vw, 8rem);
       padding: 0;
    }


      .footer-credit {
    margin: 2rem auto 0;
    text-align: center;
    align-self: center;
    width: 100%;
  }
  .footer-credit small {
  font-size: inherit;
  font-weight: normal;
}
 .seccion-objetivos {
    padding: 20px;
  }

  .objetivo {
    padding: 15px;
  }

  .seccion-objetivos h2 {
    font-size: 1.5rem;
  }

  .objetivo h3 {
    font-size: 1.2rem;
  }
 .seccion-contenido {
    flex-direction: column;
    align-items: center;
  }

  .texto, .galeria {
    max-width: 100%;
  }

  .galeria {
    grid-template-columns: 1fr;
  }

   .seccion {
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  .seccion .texto {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .seccion img {
    max-width: 100%;
  }
      
}

@media screen and (min-width: 900px) {
   
    .active {
        position: relative;
    }

    .active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }

    .h2-sub {
        font-size: 3rem;
    }

    .fil {
        font-size: 3rem;
    }

    .head {
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }

    .res-info {
        display: flex;
        align-items: center;
    }

    .res-info > div {
        flex: 1;
    }

    .pad-rig {
        padding-right: 7rem;
    }

    .footer-content {
        max-width: 77.5rem;
        margin: auto;
    }

    .footer-content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    .footer-div {
        display: flex;
        justify-content: space-between;
    }

    .social-media,
    .news-form {
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }

    .news-btn {
        margin-left: 7.5rem;
    }


}